<app-header></app-header>
<app-banner-default [title]="titleNoticia"></app-banner-default>
<section class="notice__container">

  <section class="container__cards--notice">
    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/ayudaImgCard.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/fondoVoto.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/ayudaImgCard.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/fondoVoto.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/ayudaImgCard.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/ayudaImgCard.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/fondoVoto.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/ayudaImgCard.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

    <div class="card__notice" routerLink="/noticia/detalle">
      <div class="card__notice--img">
        <img src="../../../assets/imgs/ayudaImgCard.jpg" alt="">
      </div>
      <div>
        <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
        <p>20 septimbre 2023</p>
      </div>
    </div>

  </section>
</section>
<app-footer></app-footer>
