.footer__container{
  background-color: #2f2f2f;
  height: 250px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.contacto{
  display: flex;
  justify-content: center;
  align-items: center;

}
.contacto div img{
  width: 50px;
}
