<app-header>  </app-header>
  <section class="detalle__banner">
    <div>
      <p>Noticia | 12 Feb 2022</p>
    </div>
    <div>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aut nobis quibusdam iste soluta illo esse corporis a. A, nam.</h2>
    </div>
  </section>

<section class="notice__content">
  <div class="notice__introduction">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
  </div>
  <div class="notice__img">
    <img src="../../../../assets/imgs/banner1.jpg" alt="">
  </div>
  <div class="notice__content--text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    isicing elit. Dolorem sunt non hic dolor rem neque asperiores odio, id libero distinctio!
    <input type="button" value="Volver" class="btnBlue" routerLink="/noticia">
  </div>
</section>
<app-footer></app-footer>

