<app-header></app-header>
<app-banner-default [title]="titlePeriodico"></app-banner-default>

<section class="periodico__container">
  <div class="periodico__card">
    <div class="periodico__card--img">
        <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
    </div>
    <div class="card__dates">
      <div>30 Sep 2022</div>
      <div>
        <input type="button" value="Ver" class="btnBlue">
        <input type="button" value="Descargar" class="btnBlue bg-blue">
      </div>
    </div>
  </div>
  <div class="periodico__card">
    <div class="periodico__card--img">
        <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
    </div>
    <div class="card__dates">
      <div>26 Mar 2022</div>
      <div>
        <input type="button" value="Ver" class="btnBlue">
        <input type="button" value="Descargar" class="btnBlue bg-blue">
      </div>
    </div>
  </div>
  <div class="periodico__card">
    <div class="periodico__card--img">
        <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
    </div>
    <div class="card__dates">
      <div>21 May 2022</div>
      <div>
        <input type="button" value="Ver" class="btnBlue">
        <input type="button" value="Descargar" class="btnBlue bg-blue">
      </div>
    </div>
  </div>
  <div class="periodico__card">
    <div class="periodico__card--img">
        <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
    </div>
    <div class="card__dates">
      <div>12 Abr 2022</div>
      <div>
        <input type="button" value="Ver" class="btnBlue">
        <input type="button" value="Descargar" class="btnBlue bg-blue">
      </div>
    </div>
  </div>
  <div class="periodico__card">
    <div class="periodico__card--img">
        <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
    </div>
    <div class="card__dates">
      <div>20 Dic 2022</div>
      <div>
        <input type="button" value="Ver" class="btnBlue">
        <input type="button" value="Descargar" class="btnBlue bg-blue">
      </div>
    </div>
  </div>
  <div class="periodico__card">
    <div class="periodico__card--img">
        <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
    </div>
    <div class="card__dates">
      <div>20 Nov 2022</div>
      <div>
        <input type="button" value="Ver" class="btnBlue">
        <input type="button" value="Descargar" class="btnBlue bg-blue">
      </div>
    </div>
  </div>
  <div class="periodico__card">
    <div class="periodico__card--img">
        <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
    </div>
    <div class="card__dates">
      <div>14 Feb 2022</div>
      <div>
        <input type="button" value="Ver" class="btnBlue">
        <input type="button" value="Descargar" class="btnBlue bg-blue">
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
