.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background-color: #dedede;
  color:#000000;
  position:fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 0px 0px 10px #454545;
  font-family: 'Lato', sans-serif;
  /* max-width: 1400px; */
  margin:0 auto;
}
.header__maxmedia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin:auto;

}

.header__menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu li{
  margin:0px 7px;
  list-style: none;
  cursor: pointer;
}
.header__menu li:nth-child(6){
  background-color: #454545;
  border-radius: 20px;
  padding:5px 15px;
  color:white;
}
/*  **********************************/
.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: 100%;
  transition: all .3s ease;
  background-color: #1d1d1de3;
  z-index: 200;
}
.main-nav.show{
  margin-left: 0;
}
.nav-links{
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0px 25px 25px 0px / 0px 200px 200px 0px ;

}
.nav-links ul{
  list-style: none;
  margin-top: 30px;
}
.nav-links ul li{

  text-align: center;
  cursor: pointer;
  margin:35px 7px;
  font-size: 22px;
}
.nav-links li:nth-child(6){
  background-color: #454545;
  border-radius: 20px;
  padding:5px 15px !important;
  color:white;
}
.button-menu{
  z-index: 300;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 40px;
}
.button-menu span{
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 5px 0px;
  transition: all .2s linear;
}
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2){
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3){
  display: none;
}
@media screen and (min-width:768px) {
  .button-menu{
    display: none;
  }
  .main-nav{
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
    background-color: transparent;
  }
  .nav-links{
    width: 100%;
    display: flex;
    background-color: transparent;
  }
  .nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-right: 10px;

  }
  .nav-links li{
    padding:10px 0!important;
    margin:0px 7px !important;
    list-style: none;
    cursor: pointer;
    font-size: 18px !important;
  }

}
/* ****************************** */

